body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #999;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav{
    background: teal;
};
button, input {
    background: none;
    border: none;
    text-overflow: initial;
    color: black;
    border-color: transparent;
    cursor: alias;
}
.container {  
    display: flex;  
}
.container > li {
    list-style-type: none;  
    flex: 1;
    padding: 0;
}
.search {  
    flex: 1;  
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
.column {
    width: 95%;
    height: 100%;
}
#column-1 {
    background-color: #757de8;
}
#column-2 {
    background-color: #3f51b5;
}
#column-3 {
    background-color: #757de8;
}
footer {
    background-color: #002984;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

@media only screen and (min-width: 1008px) {

    main {
        flex-direction: column;
    }

.column {
 width: 32%;
 }

    
}

@media only screen and (max-width: 1008px) {

.container {  
flex-wrap: wrap;  
}  

    
}

@media only screen and (min-width: 641px) {

    main {
        flex-direction: column;
    }
    
    .column {
        width: 30%;
        }


}

@media only screen and (max-width: 641px) {


.container {  
flex-wrap: wrap;  
}  
    
}

@media screen and (min-width: 640px) {
    main {
        flex-direction: row;
    }
    .column {
        width: 28%;
    }
    .container > li {  
        padding: 0;
      } 
}
@media screen and (max-width: 640px) {  
    
    .container {  
      flex-wrap: wrap;  
    }  
      
    .container > li {  
      flex-basis: 50%;  
    }
  

  .container > li {  
    flex-basis: 100%;
    padding: 2%;
  }  
  .search {  
    order: 1;  
  }
}